<nav class="navigationBar" style="width:100%">
    <div class="navigationItem">
        <NavLink href="" Match="NavLinkMatch.All">
            <div class="fnixMusicIcon"></div>
        </NavLink>    
    </div>
    <hr class="headerLine" />
</nav>
